{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css">
        <link rel="stylesheet" href="{% static 'auctions/styles.css' %}">
    </head>
    <body>
        <div class="container">

            {% include 'auctions/nav.html' %}
            
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}

            {% block content %}
            {% endblock %}

        </div>

    </body>
</html>
