{% extends "auctions/layout.html" %}

{% block content %}
<div class="has-text-centered">
    <h1 class="title is-3">{{ listing.title }}</h1>

    {% if listing.category %}
    <h2 class="subtitle is-4">{{ listing.category }}</h2>
    {% endif %}

    {% if listing.image %}
    <img style="max-width: 400px; margin: 1rem;" src="{{ listing.image }}" alt="{{ listing.title }}"><br>
    {% endif %}

    {% if user.is_authenticated %}
    {% if listing_in_watch_list %}
    This item is in your watchlist. <a href="{% url 'watchlist_remove' listing.pk %}">Remove?</a>
    {% else %}
    <a href="{% url 'watchlist_add' listing.pk %}">Add to watchlist</a>
    {% endif %}
    {% endif %}
</div>

<div class="card">
    <div class="card-content">
        {{ listing.description }}
        <br>
        <p class="block is-size-7 pt-2">{{ listing.date_created }}</p>
    </div>

    <div class="card-content">
        {% if highest_bid %}
        <p class=" subtitle is-6">Highest bid: £{{ highest_bid }}</p>
        {% else %}
        <p class="subtitle is-6">Starting bid: £{{ listing.starting_bid }}</p>
        {% endif %}
    </div>
</div>
<br>
<div class="card">
    <div class="card-content">
        <p class="subtitle is-4">Comments</p>

        {% for comment in comments %}
        <div class="media">
            <div class="media-content">
                <p>
                    <strong>{{ comment.user }}</strong> <small>{{ comment.date_created }}</small>
                    <br>
                    {{ comment.comment }}
                </p>
            </div>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <form class="media" method="POST">
            {% csrf_token %}
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <textarea name="comment" class="textarea" placeholder="Add a comment..."></textarea>
                    </p>
                </div>
                <button type="submit" class="button is-info">Submit</button>
            </div>
        </form>
        {% endif %}

    </div>
</div>
<br>


{% endblock %}