{% extends "auctions/layout.html" %}

{% block content %}

    <div class="box" style="max-width: 500px; margin: auto;">
        <h2 class="field is-size-3">Login</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="field">
                <input class="input" autofocus type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <input class="input" type="password" name="password" placeholder="Password">
            </div>
            <div class="field has-text-centered">
                <input class="button is-primary" type="submit" value="Login">
            </div>
            
            
        </form>
        <div class="level-item mt-3">
            <span>Don't have an account? <a href="{% url 'register' %}"> Register here.</a></span>
        </div>
    </div>

{% endblock %}