{% extends "auctions/layout.html" %}

{% block content %}
<nav class="panel">
    <p class="panel-heading">
        {{ title }}
    </p>

    {% if watchlist %}
    {% for listing in watchlist %}
    <a class="panel-block" href="{% url 'listing' listing.item.pk %}">
        <span class="panel-icon">
        </span>
        {{ listing.item.title }}
    </a>
    {% endfor %}
    {% else %}
    <p class="panel-block">
        <span class="panel-icon">
        </span>
        Your watch list is empty.
    </p>
    {% endif %}
</nav>

{% endblock %}